<%= simple_form_for @staff, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :spouse_first_name %>
  <%= f.input :title %>
  <%= f.input :started_service %>
  <%= f.input :description %>
  <%= f.input :contact_email %>
  <%= f.input :image %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                staffs_path, :class => 'btn' %>
  </div>
<% end %>
