<%= simple_form_for @announcement, :html => { :class => 'form-horizontal' } do |f| %>
   
<%= f.input :message , :label=>'Message:',  :placeholder=>"Add a Short Message" , :hint=> "200 Characters max", :input_html => { :class => "enroll_input span4", :rows => 2} %> 
<%= f.input :starts_at %>
<%= f.input :ends_at %>
     <%= f.input :colours, label: "Colour of the Alert:",  :selected=>["success"],  collection: [ ["Green" ,"success"] ,["Red","error"], ["Yellow","warning"], ["Blue","info"] ]%> 
	 
 <div class="offset1 span8">
	 <div class="alert alert-success">
	 Green - A Happy good nows type message.
	 </div>
	 
	 <div class="alert alert-error">
	  Red -  Immediate attention regarded type message should as a cancellation.
	 </div>
	 
	 <div class="alert alert-warning">
	  Yellow -  A Warning type message.
	 </div>
	 
	 <div class="alert alert-info">
	  Blue - This alert needs your attention, but it's not super important.
	 </div>
   
 </div>
  

 


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary btn-flat' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                announcements_path, :class => 'btn btn-flat' %>
  </div>
<% end %>
