<%- model_class = EventForm -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:event_setup_form_id) %></th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:receive_emails) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:phone_number) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:c_f_1_s) %></th>
      <th><%= model_class.human_attribute_name(:c_f_2_s) %></th>
      <th><%= model_class.human_attribute_name(:c_f_3_s) %></th>
      <th><%= model_class.human_attribute_name(:c_f_4_s) %></th>
      <th><%= model_class.human_attribute_name(:c_f_5_b) %></th>
      <th><%= model_class.human_attribute_name(:c_f_6_b) %></th>
      <th><%= model_class.human_attribute_name(:c_f_7_b) %></th>
      <th><%= model_class.human_attribute_name(:c_f_8_b) %></th>
      <th><%= model_class.human_attribute_name(:c_f_9_t) %></th>
      <th><%= model_class.human_attribute_name(:c_f_10_t) %></th>
      <th><%= model_class.human_attribute_name(:c_f_11_t) %></th>
      <th><%= model_class.human_attribute_name(:c_f_12_t) %></th>
      <th><%= model_class.human_attribute_name(:age) %></th>
      <th><%= model_class.human_attribute_name(:bday) %></th>
      <th><%= model_class.human_attribute_name(:sex) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @event_forms.each do |event_form| %>
      <tr>
        <td><%= link_to event_form.id, event_form_path(event_form) %></td>
        <td><%= event_form.event_setup_form_id %></td>
        <td><%= event_form.first_name %></td>
        <td><%= event_form.last_name %></td>
        <td><%= event_form.receive_emails %></td>
        <td><%= event_form.email %></td>
        <td><%= event_form.phone_number %></td>
        <td><%= event_form.notes %></td>
        <td><%= event_form.c_f_1_s %></td>
        <td><%= event_form.c_f_2_s %></td>
        <td><%= event_form.c_f_3_s %></td>
        <td><%= event_form.c_f_4_s %></td>
        <td><%= event_form.c_f_5_b %></td>
        <td><%= event_form.c_f_6_b %></td>
        <td><%= event_form.c_f_7_b %></td>
        <td><%= event_form.c_f_8_b %></td>
        <td><%= event_form.c_f_9_t %></td>
        <td><%= event_form.c_f_10_t %></td>
        <td><%= event_form.c_f_11_t %></td>
        <td><%= event_form.c_f_12_t %></td>
        <td><%= event_form.age %></td>
        <td><%= event_form.bday %></td>
        <td><%= event_form.sex %></td>
        <td><%=l event_form.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_event_form_path(event_form), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      event_form_path(event_form),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_event_form_path,
            :class => 'btn btn-primary' %>
