<%= simple_form_for @bulletin, :html => { :class => 'form-horizontal' } do |f| %>
 
 <%= f.input :display_start, :label=>"Start to Display:",  :hint => "First Date to Display", :wrapper => :append do %>
   <%= f.input_field :display_start, :id=> 'display_start',   :as => :string, :placeholder=>"First Date to Display" %><span class="add-on"><i class="icon-calendar"></i></span>
 <% end %>
  
  
 <% if @bulletin.persisted?%>
<%= f.input :display_till, :label=>"Display Until:",  :hint => "Last Date to Display", :wrapper => :append do %>
  <%= f.input_field :display_till, :id=> 'display_till',   :as => :string, :placeholder=>"Last Date to Display" %><span class="add-on"><i class="icon-calendar"></i></span>
<% end %>
  <% end %>
  
  
  <%= f.input :advert_main_page , :label=>"Advertise on Main Page?:"%>
 
 
  <%= f.input :members_only, :label=>"Available to Members only?:" %>
  
   
    <%= f.input :key, as: :hidden %>
	
	
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary btn-flat' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bulletins_path, :class => 'btn  btn-flat' %>
  </div>
<% end %>
