<%= simple_form_for @service_time, :html => { :class => 'form-horizontal' } do |f| %>
  
  <%= f.input :service_name,  label: "Service Name:", :placeholder=>"Sunday Morning Service", :hint =>'Such as "Sunday Morning Service" or "Tuesday Morning Prayer"' %>
<%= f.input :day, collection: ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],  label: "Occurs Every:"  %>


  <%= f.input :start_time, :as => :hour,  label: "Starts At:" , :hint =>'24hour' %>
 

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary btn btn-flat' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                service_times_path, :class => 'btn btn-flat' %>
  </div>
<% end %>
