<%= debug params if Rails.env.developments? %>
 
<%= debug @event if Rails.env.developments? %>
<%= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>


 


  <%= f.input :event_type, as: :hidden  %>

   <div class="form-actions">
	  
	   
 	   <% if params[:event_type] == '11' ||  @event.event_type == 11 %>
 	   <%= render :partial => 'ad' , :locals => {:f => f} %>
 	   <% end %>
 	     <% if params[:event_type] == '12' ||  @event.event_type == 12 %>
 	   <%= render :partial => 'full_event', :locals => {:f => f}  %>
 	      <% end %>
 	     <% if params[:event_type] == '13'||  @event.event_type == 13 %>
 	   <%= render :partial => 'cal_only', :locals => {:f => f}  %>
 	      <% end %>
   </div>
	

	
	
	
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary btn-flat' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn btn-flat' %>
  </div>
<% end %>
