<%= debug params if Rails.env.development? %>
 
<%= debug @event if Rails.env.development? %>
<%= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>


  <%= f.input :event_type, as: :hidden  %>

   <div class="form-actions">
	  
	   <% if params[:event_type] == '11' ||  @event.event_type == 11 %>
	   <%= render :partial => 'ad' , :locals => {:f => f} %>
	   <% end %>
	     <% if params[:event_type] == '12' ||  @event.event_type == 12 %>
	   <%= render :partial => 'full_event', :locals => {:f => f}  %>
	      <% end %>
	     <% if params[:event_type] == '13'||  @event.event_type == 13 %>
	   <%= render :partial => 'cal_only', :locals => {:f => f}  %>
	      <% end %>
	   
  <%= f.input :event_name, :label=>"Name of Event:", :placeholder=>' aka - "UpRoar 2014"', :input_html => { :class => "enroll_input span4"}   %>
  

  

 

  <%= f.input :contact_email,  :label=>"Contact Email:",  :hint => "Will not be display on the site - Linked to only",   :placeholder=>"Email Address" ,  :input_html => { :class => "enroll_input span3"} %>
  <%= f.input :location %>
  <%= f.input :contact_person,  :label=>"Contact Person:", :placeholder=>"Contact Person" ,  :input_html => { :class => "enroll_input span3"}  %>

<%= f.input :event_date, :label=>"Event Start Date:",  :hint => "Select the first day of the Event - If a recurring date - just pick todays date", :wrapper => :append do %>
  <%= f.input_field :event_date, :id=> 'event_date',   :as => :string, :placeholder=>"Start Date of Event" %><span class="add-on"><i class="icon-calendar"></i></span>
<% end %>


 <%= f.input :event_start_time, :as => :hour,  label: "Starts At:" , :hint =>'24hour '  %>
 
 

	<%= f.input :remove_event_date, :label=>"Date to disable from site:",  :hint => "The date the Event will automatically stop being viewed on the site", :wrapper => :append do %>
	  <%= f.input_field :remove_event_date, :id=> 'remove_event_date',   :as => :string, :placeholder=>"Date to disable event" %><span class="add-on"><i class="icon-calendar"></i></span>
	<% end %>

  <%= f.input :display_main_page, :label=>'Display Event on Main Page:'  %>
  <%= f.input :use_contact, :label=>'Display "Contact Us" Button:'  %>
  
 
  
 
   <% if @event.persisted? %>
    <% if eventsetupform(@event) %>
   <%= f.input :use_form_button, :label=>'Turns on "Sign Up" button :'  %> 
   <%= f.input :which_form, collection: EventSetupForm.where(:event_id => @event.id).all, label_method: :form_title, value_method: :id, label: "Select Form:", include_blank: false %>
   <% end %>
    <% end %>
	
	
   <%= f.input :share_download, :label=>'Turns on "Print Details" button :'  %>
   <%= f.input :download_link, :label=>'Link to File:' %> 
 
    <%= f.input :template_selected,  collection: 1..3,  :selected => 1, :label =>"Selected Template "  %>

 <%= render :partial => 'abouts/markdown'%>
 
	<%= f.input :description , :label=>'Description :',  :placeholder=>"Add a Short Description about the event" , :input_html => { :class => "enroll_input span5", :rows => 5} %> 

 

 </div>
	

	
	
	
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary btn-flat' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn btn-flat' %>
  </div>
<% end %>
