 <% provide(:title, "Calendar and Events" ) %>
<%- model_class = Event -%>
<div class="page-header">
  <h1>Calendar & Events</h1>
</div>
 <div class="s">
	 <p>
	<h40>Service Times</h40>
	
	
	   <% @service_times.each do |service_time| %>

 
	<br>
  <%= service_time.service_name %>&nbsp;- <%= service_time.start_time.strftime("%l:%M %p")  %> 

 <% end %>

	</p>
	<% if user_signed_in? %>
	<% if can? :edit, :abouts %>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to t('.trip_setup', :default => t("helpers.links.Setup Service Times")),
		                      service_times_path, :class => 'btn btn-primary btn-mini-flat' %> 
			
				<% end%>
				<% end%>
	</div>
			
			<div id="events">
			  <h2 id="month">
			    <%= link_to "<", date: @date.prev_month %>
			    <%= @date.strftime("%B %Y") %>
			    <%= link_to ">", date: @date.next_month %>
			  </h2>
			  <%= calendar @date do |date| %>
			    <%= date.day %>
			    <% if @events_by_date[date] %>
			      <ul>
			        <% @events_by_date[date].each do |event| %>
			          <li>
						  
	  						  
	  			         
						  
						  <% unless event.advertisement? %>
						  <%= link_to event.event_name.html_safe, event %> <% end %></li>
			        <% end %>
			      </ul>
			    <% end %>
			  <% end %>
			</div>
			
		 
</div> 