<%- model_class = Event -%>
<div class="page-header">
 
  <h1><%= @event.event_name %></h1>
</div>
<div class="form-actions">
<dl class="dl-horizontal">
 
  <dt><strong><%= model_class.human_attribute_name(:event_name) %>:</strong></dt>
  <dd><%= @event.event_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event_date) %>:</strong></dt>
  <dd><%= @event.event_date.strftime("%b %d") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event_time) %>:</strong></dt>
  <dd><%= @event.event_start_time.strftime("%l:%M %p") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_email) %>:</strong></dt>
  <dd><%= @event.contact_email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
  <dd><%= @event.location %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_person) %>:</strong></dt>
  <dd><%= @event.contact_person %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @event.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:remove_event_date) %>:</strong></dt>
  <dd><%= @event.remove_event_date.strftime("%b %d") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:display_main_page) %>:</strong></dt>
  <dd><%= @event.display_main_page %></dd>
        

</dl>

</div>
<div class="form-actions">
 
<%= display_event_picture(@event) %>
 
 


</div> 