<%= simple_form_for @ministry, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name,  :label=>"Name:", :input_html => { :class => "enroll_input span3"} %>
  <%= f.input :contact_person,  :label=>"Contact Person:",     :placeholder=>"Contact Person" ,  :input_html => { :class => "enroll_input span3"}  %>
  <%= f.input :contact_email,  :label=>"Contact Email:",  :hint => "Will not be display on the site - Linked to only",   :placeholder=>"Email Address" ,  :input_html => { :class => "enroll_input span3"} %>
  
   <%= render :partial => 'abouts/markdown'%>
 
  <%= f.input :ta1,  :label=>"Paragraph #1:", :placeholder=>"Besure to use Markdown tags where needed " ,  :input_html => { :class => "enroll_input span7", :rows => 8}   %>
  <%= f.input :ta2,  :label=>"Paragraph #2:", :placeholder=>"Besure to use Markdown tags where needed " ,  :input_html => { :class => "enroll_input span7", :rows => 8}    %>
  <%= f.input :ta3,  :label=>"Paragraph #3:", :placeholder=>"Besure to use Markdown tags where needed " ,  :input_html => { :class => "enroll_input span7", :rows => 8}    %>
  <%= f.input :ta4,  :label=>"Paragraph #4:", :placeholder=>"Besure to use Markdown tags where needed  " ,  :input_html => { :class => "enroll_input span7", :rows => 8}    %>
  <%= f.input :ta5,  :label=>"Paragraph #5:", :placeholder=>"Besure to use Markdown tags where needed  " ,  :input_html => { :class => "enroll_input span7", :rows => 8}    %>
 
    
	
	 <%= f.input :display_rank,  collection: 1..19,  :label =>"Display Ranking ",:hint => "Used to sort all Ministries when displayed" %>
	
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary btn-flat' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ministries_path, :class => 'btn btn-flat' %>
  </div>
<% end %>


 
