<%= simple_form_for @ministry, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :contact_person %>
  <%= f.input :contact_email %>
  <%= f.input :description %>
  <%= f.input :display_rank %>
  <%= f.input :ta1 %>
  <%= f.input :ta2 %>
  <%= f.input :ta3 %>
  <%= f.input :ta4 %>
  <%= f.input :ta5 %>
  <%= f.input :advert_main_page %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary btn-flat' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ministries_path, :class => 'btn btn-flat' %>
  </div>
<% end %>
