<%= simple_form_for @ministry, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name,  :label=>"Name:", :input_html => { :class => "enroll_input span3"} %>
  <%= f.input :contact_person,  :label=>"Contact Person:",     :placeholder=>"Contact Person" ,  :input_html => { :class => "enroll_input span3"}  %>
  <%= f.input :contact_email,  :label=>"Contact Email:",  :hint => "Will not be display on the site - Linked to only",   :placeholder=>"Email Address" ,  :input_html => { :class => "enroll_input span3"} %>
  <%= f.input :description,  :label=>"Description:", :placeholder=>"Text  1 " ,  :input_html => { :class => "enroll_input span4", :rows => 4}   %>  

  <%= f.input :ta1,  :label=>"TeatArea #1:", :placeholder=>"Text to be displayed in Textarea #1 " ,  :input_html => { :class => "enroll_input span4", :rows => 4}   %>
  <%= f.input :ta2,  :label=>"TeatArea #1:", :placeholder=>"Text to be displayed in Textarea #2 " ,  :input_html => { :class => "enroll_input span4", :rows => 4}    %>
  <%= f.input :ta3,  :label=>"TeatArea #1:", :placeholder=>"Text to be displayed in Textarea #3 " ,  :input_html => { :class => "enroll_input span4", :rows => 4}    %>
  <%= f.input :ta4,  :label=>"TeatArea #1:", :placeholder=>"Text to be displayed in Textarea #4 " ,  :input_html => { :class => "enroll_input span4", :rows => 4}    %>
  <%= f.input :ta5,  :label=>"TeatArea #1:", :placeholder=>"Text to be displayed in Textarea #5 " ,  :input_html => { :class => "enroll_input span4", :rows => 4}    %>
  
  <%= f.input :advert_main_page, :label =>"Display on Main Page: " %>
    <%= f.input :display_rank, :label =>"Display Ranking ",:hint => "used to sort all Ministries when displayed" %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary btn-flat' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ministries_path, :class => 'btn btn-flat' %>
  </div>
<% end %>


 
