 
<div class="row pull-center">
	<% unless @ministry.ministry_children.empty? %>
 
 <% @ministry.ministry_children.each do | ministry_child | %>
 <div class="span3">


	<p><h5><%= ministry_child.name.html_safe %></h5></p>
		 
		
		
       <% if ministry_child.ministry_picture_children.present? %> 
	   Picture present
       <% for event_picture in ministry_child.ministry_picture_children %> 
             <% if event_picture.image_processed?  %>
                  <%= link_to(image_tag(event_picture.ministrychild_image_url(:thumb), :class =>"img-rounded"), ministry_child_path(ministry_children)) %>
                    <%= image_tag(event_picture.ministrychild_image_url(:thumb), :class =>"img-rounded")  %>
               <% end  %>
             <% end  %>
        <% else%>
          no picture present
          
          <%= link_to(image_tag(placeholder_image_url "200x200", :class =>"img-rounded"),  ministry_picture_children_step_1_path(:ministry_id => ministry_children.id)) %>
     
     
       <% end %>
		
		
		
		
		
		
		
		
		
		 
 <div class=" ministry_text pull-center"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  <%= markdown(ministry_child.description )%> </div>
 
<% if user_signed_in? %>
<% if can? :edit, :ministries %>
<strong>Options:</strong><br>
Display on Main Page: <%= status_advert_main_page_ministry_child(ministry_child) %> <br>
Display Ranking: <%= display_ranking(ministry_child) %> 
 
 
 <br>
 <%= link_to t('.edit', :default => t("helpers.links.edit")),
             edit_ministry_child_path(ministry_child), :class => 'btn btn-mini-flat' %>
 <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
             ministry_child_path(ministry_child),
             :method => 'delete',
             :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
             :class => 'btn btn-danger btn-mini-flat' %>
			 
			 <% end %>
			 <% end %>
			 
			<br>
			<br>	 
</div>


 

<% end %>
 

<% end %>
</div>
 

 