 <% content_for :title,  @ministry.name.html_safe  %>

<div class="row "> 
	<div class="span10  mission_bg img-rounded">


 
	<br>
<table width="100%" class="table_zero"> 
 <td style="width:5px; padding: 0 50px; white-space: nowrap;"><span class="main_text"><%= @ministry.name %></span> </td>
  <td><hr class="round_line_hoz" /></td>
</table>
 <hr class="round_line_hoz2 " /> 
 
 <div class="row ">
	 
  <div class="span10">   <br>
 <%= render :partial => 'picture' %> 
 <br>

</div>
</div>


  <hr class="round_line_hoz2 " /> 
  
 
<div class="row ">
	 
 <div class="offset1 span9">  

	 <p class="ministry_text pull-center">
     <%- model_class = Ministry -%>
 
 <br>
 
 <% unless @ministry.ta1.blank? %>
&nbsp;&nbsp;&nbsp;&nbsp;<div class="ministry_text"><%=  markdown(@ministry.ta1)  %>  </div>
 <%end%> 
  <% unless @ministry.ta2.blank? %>
 &nbsp;&nbsp;&nbsp;&nbsp;<div class="ministry_text"><%=  markdown(@ministry.ta2)  %></div>
  <%end%> 
  <% unless @ministry.ta3.blank? %>
 &nbsp;&nbsp;&nbsp;&nbsp;<div class="ministry_text"><%=  markdown(@ministry.ta3 )  %>  </div> 
  <%end%> 
  <% unless @ministry.ta4.blank? %>
 
 &nbsp;&nbsp;&nbsp;&nbsp;<div class="ministry_text"><%=  markdown(@ministry.ta4)  %> </div>
  <%end%> 
  <% unless @ministry.ta5.blank? %>
 
 &nbsp;&nbsp;&nbsp;&nbsp;<div class="ministry_text"><%=  markdown(@ministry.ta5 )  %>  </div>
  <%end%> 
 
 <div class="pull-center">
					 <% if @ministry.contact_email? %>
  					 <%= link_to "Want to Learn More? Click Here to Contact Us",
                       contact_ministry_path(:ministry => @ministry.id), :class => 'btn   btn-primary btn-mini-flat' %><%end%> 
					   
				   </div>
</p>

</div>
 <div class="span10">  

<% if user_signed_in? %> 
<% if can? :edit, :ministries %>
<strong>Options:</strong><br>
Display on Main Page: <%= status_advert_main_page(@ministry) %> <br>
Display Ranking: <%= @ministry.display_rank %> 
 
 <br>
 <br>
<div class=" span9">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              ministries_path, :class => 'btn btn-flat btn-info'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_ministry_path(@ministry), :class => 'btn btn-flat' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              ministry_path(@ministry),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger  btn-flat' %>
</div>
<br>  <br>
 <%end%> 
 <%end%> 
  
 
  <br>
 <% if @ministry.ministry_children.count >= 1 %>
<p><h4>&nbsp;&nbsp;&nbsp;&nbsp;<%= @ministry.name %> Ministries:</h4></p>  
<% if user_signed_in? %>
 
<% if can? :edit, :ministries %>
<%= link_to t('.picture', :default => t("helpers.links.Add a New Ministry for #{@ministry.name}")),
              new_ministry_child_path(:ministry_id => @ministry.id), :class => 'btn btn-mini-flat btn-success'  %>
  <br>
  <%end%> 
  <%end%>
 
<%= render :partial => 'ministry_children' %>
   <%end%> 
</div>
</div>
</div> <!-- Span-->

<div class="span1">
 <%= render :partial => 'abouts/side_buttons'%>
      
</div>
</div> <!-- Row-->
