<%- model_class = LifePulse -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:keywords) %>:</strong></dt>
  <dd><%= @life_pulse.keywords %></dd>
  <dt><strong><%= model_class.human_attribute_name(:from_pastor_desk) %>:</strong></dt>
  <dd><%= @life_pulse.from_pastor_desk %></dd>
  <dt><strong><%= model_class.human_attribute_name(:template_selected) %>:</strong></dt>
  <dd><%= @life_pulse.template_selected %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @life_pulse.content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @life_pulse.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:summary) %>:</strong></dt>
  <dd><%= @life_pulse.summary %></dd>
  <dt><strong><%= model_class.human_attribute_name(:flickr_id) %>:</strong></dt>
  <dd><%= @life_pulse.flickr_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              life_pulses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_life_pulse_path(@life_pulse), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              life_pulse_path(@life_pulse),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
