<%- model_class = EventSetupForm -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
  	  <th>Title</th>
        <th>Email</th>
        <th>Use Form</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @event_setup_forms.each do |event_setup_form| %>
      <tr>
	    <td><%= event_setup_form.form_title %></td>
      <td><%= event_setup_form.email_for_forms %></td>
      <td><%= event_setup_form.use_form %></td>
      <td><%= event_setup_form.created_at.strftime("%B #{event_setup_form.created_at.day.ordinalize}, %Y") %></td>
      <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_event_setup_form_path(event_setup_form), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      event_setup_form_path(event_setup_form),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
 
