<%- model_class = EventSetupForm -%>
<div class="page-header">
  <h1><%= @event_setup_form.event.event_name  %> - <%= @event_setup_form.form_title %></h1>
</div>
<table class="table table-striped">

  <tbody>
  <tr>	     
  <th>
	<p>Form Information:</p>
<dl class="dl-horizontal">
 
	  <dt><strong><%= model_class.human_attribute_name(:form_title) %>:</strong></dt>
	  <dd><%= @event_setup_form.form_title %></dd>
 
  <dt><strong><%= model_class.human_attribute_name(:email_for_forms) %>:</strong></dt>
  <dd><%= @event_setup_form.email_for_forms %></dd>
  </dl>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<dl class="dl-horizontal">
<p>Optional Questions:</p>
  
 
    <dt><strong>Birthday:</strong></dt>
    <dd><%= event_setup_form_bool(@event_setup_form.bday) %></dd>
     
    <dt><strong>Male/Female:</strong></dt>
    <dd><%= event_setup_form_bool(@event_setup_form.sex) %></dd>
 

  
    <dt><strong><%= model_class.human_attribute_name(:use_form) %>:</strong></dt>
    <dd><%= event_setup_form_bool(@event_setup_form.use_form) %></dd>
  

 
    <dt><strong><%= model_class.human_attribute_name(:down_link) %>:</strong></dt>
    <dd><%= event_setup_form_bool(@event_setup_form.down_link )%></dd>
  

  
    <dt><strong><%= model_class.human_attribute_name(:ok_to_contact) %>:</strong></dt>
    <dd><%= event_setup_form_bool(@event_setup_form.ok_to_contact) %></dd>
 
  
 
    <dt><strong>Phone Number:</strong></dt>
    <dd><%= event_setup_form_bool(@event_setup_form.phone) %></dd>
 
	
 
	  <dt><strong><%= model_class.human_attribute_name(:age) %>:</strong></dt>
	  <dd><%= event_setup_form_bool(@event_setup_form.age) %></dd>
 
	  
	  <% unless @event_setup_form.c_f_1.blank? %>
  </dl>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<dl class="dl-horizontal">
<h5>Custom Question #1:</h5> 
	  

    <dt><strong>Question:</strong></dt>
  <dd><%= @event_setup_form.c_f_1 %></dd>
 
     <dt><strong>Hint:</strong></dt>
  <dd><%= @event_setup_form.c_f_1_h %></dd>
  <% end %>
  <% unless @event_setup_form.c_f_2.blank? %>
  </dl>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<dl class="dl-horizontal">
  <h5>Custom Question #2:</h5> 
 
  <dt><strong>Question:</strong></dt>
  <dd><%= @event_setup_form.c_f_2 %></dd>
 
      <dt><strong>Hint:</strong></dt>
    <dd><%= @event_setup_form.c_f_2_h %></dd>
    <% end %>
  <% unless @event_setup_form.c_f_3.blank? %>
  </dl>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<dl class="dl-horizontal">
  <h5>Custom Question #3:</h5> 

   <dt><strong>Question:</strong></dt>
  <dd><%= @event_setup_form.c_f_3 %></dd> 
 
    <dt><strong>Hint:</strong></dt>
     <dd><%= @event_setup_form.c_f_3_h %></dd>
     <% end %>
  <% unless @event_setup_form.c_f_4.blank? %>
  </dl>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<dl class="dl-horizontal">
<h5>Custom Question #4:</h5> 		
 
    <dt><strong>Question:</strong></dt>
  <dd><%= @event_setup_form.c_f_4 %></dd> 
 
        <dt><strong>Hint:</strong></dt>
     <dd><%= @event_setup_form.c_f_4_h %></dd>
     <% end %>
  <% unless @event_setup_form.c_f_5.blank? %>
  </dl>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<dl class="dl-horizontal">
		<h5>Custom Question #5:</h5> 
 
    <dt><strong>Question:</strong></dt>
  <dd><%= @event_setup_form.c_f_5 %></dd> 
  
         <dt><strong>Hint:</strong></dt>
     <dd><%= @event_setup_form.c_f_5_h %></dd>
     <% end %>
	 <% unless @event_setup_form.c_f_6.blank? %>
  </dl>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<dl class="dl-horizontal">
		<h5>Custom Question #6:</h5> 
  
 
   <dt><strong>Question:</strong></dt>
  <dd><%= @event_setup_form.c_f_6 %></dd>  
 
     <dt><strong>Hint:</strong></dt>
    <dd><%= @event_setup_form.c_f_6_h %></dd>
    <% end %>
	<% unless @event_setup_form.c_f_7.blank? %>
  </dl>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<dl class="dl-horizontal">
		<h5>Custom Question #7:</h5> 
 
  <dt><strong>Question:</strong></dt>
  <dd><%= @event_setup_form.c_f_7 %></dd> 
 
        <dt><strong>Hint:</strong></dt>
     <dd><%= @event_setup_form.c_f_7_h %></dd>
     <% end %>
	 <% unless @event_setup_form.c_f_8.blank? %>
  </dl>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<dl class="dl-horizontal">
		<h5>Custom Question #8:</h5> 
  
 
  <dt><strong>Question:</strong></dt>
  <dd><%= @event_setup_form.c_f_8 %></dd> 
   
        <dt><strong>Hint:</strong></dt>
     <dd><%= @event_setup_form.c_f_8_h %></dd>
     <% end %>
	 <% unless @event_setup_form.c_f_9.blank? %>
  </dl>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<dl class="dl-horizontal">
		<h5>Custom Question #9:</h5> 

   <dt><strong>Question:</strong></dt>
  <dd><%= @event_setup_form.c_f_9 %></dd> 
 
        <dt><strong>Hint:</strong></dt>
     <dd><%= @event_setup_form.c_f_9_h %></dd>
     <% end %>
  <% unless @event_setup_form.c_f_10.blank? %>
  </dl>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<dl class="dl-horizontal">
		<h5>Custom Question #10:</h5> 

   <dt><strong>Question:</strong></dt>
  <dd><%= @event_setup_form.c_f_10 %></dd> 
 
     <dt><strong>Hint:</strong></dt>
     <dd><%= @event_setup_form.c_f_10_h %></dd>
     <% end %>
  <% unless @event_setup_form.c_f_11.blank? %>
  </dl>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<dl class="dl-horizontal">
		<h5>Custom Question #11:</h5> 
		

    <dt><strong>Question:</strong></dt>
  <dd><%= @event_setup_form.c_f_11 %></dd>  
 
    <dt><strong><Hint:</strong></dt>
    <dd><%= @event_setup_form.c_f_11_h %></dd>
    <% end %>
	<% unless @event_setup_form.c_f_12.blank? %>
  </dl>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<dl class="dl-horizontal">
		<h5>Custom Question #12:</h5> 
  

  <dt><strong>Question:</strong></dt>
  <dd><%= @event_setup_form.c_f_12 %></dd>
 
    <dt><strong>Hint:</strong></dt>
    <dd><%= @event_setup_form.c_f_12_h %></dd>
    <% end %>
  
  </dl>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<dl class="dl-horizontal">
		<h5>Misc Notes:</h5> 

   
  
 
  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= event_setup_form_bool(@event_setup_form.note) %></dd>
 
 

 
</dl>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<h5>Test Form:</h5> <p class="pull-center">
<%= link_to t('.new', :default => t("helpers.links.View Form ")),
              new_event_form_path(:event_setup_form_id => @event_setup_form), :class => 'btn btn-flat btn-success'  %></p>
		  </dl>
		  </th>
		  </tr>
		   <tr>     
		  <th>
		  </th>
		  </tr>
		   <tr>     
		  <th>
<div class="form-actions">
 
		      <%= link_to t('.cancel', :default => t("helpers.links.back")),
		                  event_path(@event.id), :class => 'btn btn-flat' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_event_setup_form_path(@event_setup_form), :class => 'btn btn-flat btn-primary' %>
 
			  
			
</div>
