<%= simple_form_for @site_setup, :html => { :class => 'form-horizontal' } do |f| %>
 
  
  <%= f.input :youtube, :label=>'Youtube:',  :placeholder=>"Youtube"  %>
<%= f.input :facebook, :label=>'Facebook:',  :placeholder=>"Facebook Link"  %>
<%= f.input :video_stream , :label=>'Link Video Stream  :',  :placeholder=>"Video Stream "  %>
<%= f.input :twitter, :label=>'Twitter:',  :placeholder=>"Twitter"  %>
<%= f.input :life_pulse, :label=>'Enable Life Pulse:' %>
<%= f.input :leaders_blog, :label=>'Enable Leaders Blog:' %>
<%= f.input :store, :label=>'Enable Online Store:' %>
<%= f.input :video, :label=>'Enable Video:' %>
<%= f.input :articles, :label=>'Enable Articles:' %>

<%= f.input :approval, :label=>'Member Approval Emails:' %>
<%= f.input :general_questions, :label=>'General Questions:' %>
<%= f.input :contact, :label=>'Contact Email:' %>



<%= f.input :shutdown, as: :boolean, :label=>'Disable Site:' %>

 
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary btn-flat' %>
 
  </div>
<% end %>
