<%- model_class = SiteSetup -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:youtube) %>:</strong></dt>
  <dd><%= @site_setup.youtube %></dd>
  <dt><strong><%= model_class.human_attribute_name(:facebook) %>:</strong></dt>
  <dd><%= @site_setup.facebook %></dd>
  <dt><strong><%= model_class.human_attribute_name(:video_stream) %>:</strong></dt>
  <dd><%= @site_setup.video_stream %></dd>
  <dt><strong><%= model_class.human_attribute_name(:twitter) %>:</strong></dt>
  <dd><%= @site_setup.twitter %></dd>
  
  <dt><strong>Life Pulse Status:</strong></dt>
  <dd><%= status_life_pulse(@site_setup) %></dd>
  <dt><strong>Leader Blog Status:</strong></dt>
  <dd><%= status_leaders_blog(@site_setup) %></dd>
  <dt><strong>Online Store Status:</strong></dt>
  <dd><%= status_store(@site_setup) %></dd>
  <dt><strong>Video Section Status:</strong></dt>
  <dd><%= status_video(@site_setup) %></dd>
  <dt><strong>Article Section Status:</strong></dt>
  <dd><%= status_article(@site_setup) %></dd>
  
  <dt><strong>Site Availability Status:</strong></dt>
  <dd><%= status_shutdown(@site_setup) %></dd>
 
</dl>

<div class="form-actions">
 
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_site_setup_path(@site_setup), :class => 'btn-primary btn-flat' %>
 
</div>
