
 <div class="container  span10 centering">
<div class="row">
<div class="span6">  <h2> Site Settings </h2>  </div>
</div>

<table class="table table-striped">

  <tbody>
  <tr>	     
  <th>
<div class="row">




<div class="span4">  <h3>Site</h3>  
	<p>	 
		<%= link_to t('.trip_setup', :default => t("helpers.links.Service Times")),
			                      service_times_path, :class => 'btn btn-info btn-flat btn-mini' %>
	</p>

   </div>

<div class="span4">  <h3>abc</h3>  
	<p>	 
	</p>
 
<%= link_to t('.trip_setup', :default => t("helpers.links.Staff Rank")),
	                      staff_ranks_path, :class => 'btn btn-info btn-flat btn-mini' %>
   </div>

</div>
<br>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>

<div class="row">

<div class="span4">  <h3>Staff Setup</h3>  
	<p>	Setup Staff
		<%= link_to t('.trip_setup', :default => t("helpers.links.Church Staff Setup")),
		                      church_staffs_path, :class => 'btn btn-info btn-flat' %>
	</p>

 </div>


<div class="span4">  <h3>   </h3>  
	<p>About
		<%= link_to t('.show', :default => t("helpers.links.About")),
		                      abouts_path, :class => 'btn btn-info btn-flat' %>
	</p>

  </div>
<br>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<div class="row">

	<div class="span4">  <h3>Resources Setup</h3>  
		<p>	Setup Sermons
			<%= link_to t('.Sermons', :default => t("helpers.links.Sermons setup")),
			                      sermons_path , :class => 'btn btn-info btn-flat' %>
		</p>

	 </div>
 

	<div class="span4">  <h3>   </h3>  
		<p>About
			<%= link_to t('.show', :default => t("helpers.links.Speakers")),
			                      speakers_path, :class => 'btn btn-info btn-flat' %>
		</p>

	  </div>
	<br>
	</th>
	</tr>
	 <tr>     
	<th>
	</th>
	</tr>
	 <tr>     
	<th>
<div class="row">

<div class="span4">  <h3>Events</h3>  
	<p>	Setup Staff
		<%= link_to t('.trip_setup', :default => t("helpers.links.Church events")),
		                      events_path, :class => 'btn btn-info btn-flat' %>
	</p>

 </div>


<div class="span4">   
	 

  </div>



</div>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>

<div class="row">

<div class="span4">  <h3> </h3>  
	<p> 
	</p>

  </div>

 

</div>


</div>

</td>
</tr>
</table>

