
 <% content_for :title,  "Site Locked out" %>

<div class="row "> 
	<div class="span10  mission_bg img-rounded">


 
	<br>
<table width="100%" class="table_zero"> 
 <td style="width:5px; padding: 0 50px; white-space: nowrap;"><span class="main_text">Site is Locked out</span> </td>
  <td><hr class="round_line_hoz" /></td>
</table>
 <hr class="round_line_hoz2 " /> 
 
 <div class="row ">
	 
  <div class="offset1 span4">  
	 
	  <br>
	  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
	    <%= f.input :email, :autofocus => true %>
	    <%= f.input :password %>
	    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
	    <%= f.button :submit, "Login", :class => 'btn btn-primary btn-flat' %>
	  <% end %>
	 
 
	  <br>
  
</div>

  <div class="span5">  
	  <br>
	    <br>
	  <p class="sign_up_text site_blue"> I have to style this page</p>
 
	 
  
</div>




</div>








</div> <!-- Span-->

 
</div> <!-- Row-->
</div> 
 