 <h2>Web Site Setup</h2> 
 <div class="container">
 
<table class="table table-striped">

  <tbody>
  <tr>	     
  <th>
	<h3>General Church Info Setup:</h3> 
<div class="row">



 
<div class="span4">  <h4>Service Times:</h4>  
	<p>	 
		<%= link_to t('.trip_setup', :default => t("helpers.links.Service Times")),
			                      service_times_path, :class => 'btn btn-inverse ' %>
	</p>

   </div>

<div class="span4">  <h4>General Info:</h4>  
	<p> 
		<%= link_to t('.show', :default => t("helpers.links.About")),
		                      about_path(1), :class => 'btn  btn-inverse' %>
	</p>

  </div>
 



</div>
 
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<h3>Church Staff Setup:</h3> 
<div class="row">
 
 
	<div class="span4">  <h4>Staff Setup:</h4>  
		<p>	 
			<%= link_to t('.trip_setup', :default => t("helpers.links.Church Staff Setup")),
			                      church_staffs_path, :class => 'btn btn-inverse  ' %>
		</p>

	 </div>
	<div class="span4">  <h4>Staff Category Setup:</h4>  
		<p>	 
	<%= link_to t('.trip_setup', :default => t("helpers.links.Staff Rank")),
		                      staff_ranks_path, :class => 'btn btn-inverse ' %>
			</p>
	   </div>


 
</div>

 
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
 <tr>     
<th>
	<h3>Resources Setup:</h3>  
	<div class="row">

	<div class="span4">  	<h4>Sermon Setup:</h4>  
		<p>
			<%= link_to t('.Sermons', :default => t("helpers.links.Sermons setup")),
			                      sermons_path , :class => 'btn btn-inverse' %>
		</p>

	 </div>
 

	<div class="span4">  <h4> Guest Speaker Setup:  </h4>  
		<p>
			<%= link_to t('.show', :default => t("helpers.links.Speakers")),
			                      speakers_path, :class => 'btn btn-inverse' %>
		</p>

	  </div>
	 
	</th>
	</tr>
	 <tr>     
	<th>
	</th>
	</tr>
	 <tr>     
	<th>
		<h3>Events:</h3>  
<div class="row">

<div class="span4">  <h4> Current Event:  </h4>  
	<p>	 
		<%= link_to t('.trip_setup', :default => t("helpers.links.Church events")),
		                      events_path, :class => 'btn btn-inverse' %>
	</p>

 </div>


<div class="span4">   <h4> Ministries:  </h4>  
	<p>	 
		<%= link_to t('.trip_setup', :default => t("helpers.links.Church events")),
		                      ministries_path, :class => 'btn btn-inverse' %>
	</p>
	 

  </div>



</div>
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
  
</td>
</tr>
</table>

