<%= simple_form_for @church_staff, :html => { :class => 'form-horizontal' } do |f| %>
 

  <%= f.input :first_name, :label=>"First Name:", :placeholder=>"First name", :input_html => { :class => "enroll_input span4"}, :required => true   %>
  <%= f.input :last_name, :label=>"Last Name:", :placeholder=>"Last name", :input_html => { :class => "enroll_input span4 "}, :required => true   %>


 	  <%= f.input :spouse_first_name, :label=>"Spouse's name:", :placeholder=>"Spouse's name", :input_html => { :class => "enroll_input span4"}  %>
 
  <%= f.input :title, :label=>"Official Title:", :placeholder=>"Official Title", :input_html => { :class => "enroll_input span4"}  %>
 
	<%= f.input :started_service, :label=>"Joined the Church:", :wrapper => :append do %>
	  <%= f.input_field :started_service, :id=> 'start_date',   :as => :string,  :placeholder=>"Click here to select date" %><span class="add-on"><i class="icon-calendar"></i></span>
	<% end %>
	
 
 


	<%= f.input :description , :label=>'Description :',  :placeholder=>"Add a Short Description about Yourself" , :input_html => { :class => "enroll_input span8", :rows => 4} %> 
	
 

	<%= f.input :phone_number,  :label=>"Phone Number:",   :placeholder=>"Phone Number" ,  :input_html => { :class => "enroll_input span3"}  %>
		<%= f.input :phone_ext,  :label=>"Phone Ext:",   :placeholder=>"Phone Ext" ,  :input_html => { :class => "enroll_input span3"}  %>

 	<%= f.input :contact_email,  :label=>"Email Address:",  :hint => "Your email will NOT be visible to anyone - just used to contact you)", :placeholder=>"Email Address" ,  :input_html => { :class => "enroll_input span3"} %>
  
<%= f.input :rank, collection: StaffRank.all, label_method: :category, value_method: :ranking,label: "Select Category:", include_blank: false %>

	  <%= f.input :birth_location, :label=>"Location of Birth:", :placeholder=>"ex. Woodstock, Ontario", :input_html => { :class => "enroll_input span4"}  %>


	<%= f.input :birthday, :label=>"Birthday:",  :hint => "Don't worry - the Year will not be shown ;)", :wrapper => :append do %>
	  <%= f.input_field :birthday, :id=> 'birthday',   :as => :string, :placeholder=>"Your Birthday" %><span class="add-on"><i class="icon-calendar"></i></span>
	<% end %>
 

 



<%= f.input :blog %>
<%= f.input :url %>
  <%= f.input :facebook %>
<%= f.input :linked_in %>
<%= f.input :google_plus %>

<%= f.input :twitter %>

 

 
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary btn-flat' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                church_staffs_path, :class => 'btn btn-flat' %>
  </div>
<% end %>
