 

 <h3>Church Staff </h3> 
 
 <div class="divider">
 Church Staff <hr class="round_line_hoz" />
 </div>
 
 <br>
 <hr class="line_break">
<div class="span10"  id="main">
<table class="table table-striped">
 
  <tbody> 

<% @church_staffs.each.with_index do |church_staff, index| %>
 <tr>
      <td> 

<div class="row-fluid offsetHalf1"  id="main">
 
 <% if index.even? %> 
<div class="span4"  >
	<br>
 
	 <%= display_sidebar_staff(church_staff) %>
	 <br>
</div>
<% end%>


<div class="span4">
  
  
          <p><strong> <%= church_staff.first_name %> <%= church_staff.last_name %> </strong>  
           <br>  <em> <%= church_staff.title %> </em><br>
   </p>
  <%= staff_details(church_staff) %>
  
   
</div>


 <% if index.odd? %>
<div class="span4"  >
	<br>
	<br>
	 <%= display_sidebar_staff(church_staff) %>
	 
</div>
<% end%>
	 	<br>
	<br>
	<br><br>
<br>
<br><br>
<br>
<br>
	
		 
</div>
  
</td>
</tr>
 

<% end %>



  </tbody>
</table>
	</div>	