<div class="Row">
	<div class="span10">


<div class="mission_bg img-rounded ">
	<br>
<table width="100%" class="table_zero"> 
 <td style="width:5px; padding: 0 50px; white-space: nowrap;"><span class="main_text">Church Staff</span> </td>
  <td><hr class="round_line_hoz" /></td>
</table>
 
  
<div class="span10"  id="main">
	<% if user_signed_in? %>
	<%= link_to t('.new', :default => t("helpers.links.Setup New Staff")),
	            new_church_staff_path,
	            :class => 'btn btn-primary btn-flat' %>
				
				<% end%>
<table class="table table striped">
 
  <tbody> 

<% @church_staffs.each.with_index do |church_staff, index| %>
 <tr>
      <td> 

<div class="row fluid offsetHalf1"  id="main">
 
 <% if index.even? %> 
<div class="span4"  >
	<br>
 
	 &nbsp;&nbsp;&nbsp;<%= display_sidebar_staff(church_staff) %>
	 
	 <br>
	 
</div>
<% end%>


<div class="span4">
  
  
          <p><strong> <%= church_staff.first_name %> <%= church_staff.last_name %> </strong>  
           <br>  <em> <%= church_staff.title %> </em><br>
   </p>
   
 	
       <% unless church_staff.description.blank? %>	
         <p class="pull-left staff_descrip img-rounded"> <%= church_staff.description %> </p>
	  <br>
 	    <%end%> 
   <p>
  <% unless church_staff.birth_location.blank? %>	
      <small><cite title="Source Title"><%= church_staff.birth_location %>  <i class="icon-map-marker"></i></cite></small>
    <%end%> 
     
    <i class="icon-envelope"></i> <%= link_to t('.new', :default => t("helpers.links.Contact #{church_staff.first_name}")),
                      contact_staff_path(:staff => church_staff.email_id) %>
					<br>
						
	  <% unless church_staff.url.blank? %>				
      <i class="icon-globe"></i> <%= church_staff.url %>  
	  <br>
    <%end%> 
	  	 <% unless church_staff.birthday.blank? %>
      <i class="icon-gift"></i>  <%= church_staff.birthday %>  
	  <br>
     <%end%> 
  		<% unless church_staff.spouse_first_name.blank? %>	
          <i class="icon-smile"></i><p> <%= church_staff.spouse_first_name %> </p>
		  <br>
  	    <%end%>  
  	  
       <% unless church_staff.facebook.blank? %>	
  	    <i class="icon-facebook"></i> <p><%= church_staff.facebook %> </p>
	  <br>
	    <%end%> 
		
		
   <% unless church_staff.linked_in.blank? %>	
  	   <i class="icon-linkedin"></i> <p> <%= church_staff.linked_in %> </p> 
	  <br>
    <%end%> 
   <% unless church_staff.google_plus.blank? %>	
  	   <i class="icon-google-plus"></i> <p> <%= church_staff.google_plus %></p> 
	  <br>
    <%end%> 
   
       
   <% unless church_staff.twitter.blank? %>	
  	   <i class="icon-twitter"></i> <p> <%= church_staff.twitter %> </p>
	  <br>
    <%end%> 
 
  
     	<% unless church_staff.started_service.blank? %>	
          <% if church_staff.started_service? %>
          Length of Service: <%= time_ago_in_words(church_staff.started_service.to_formatted_s(:long) ) %> <br>    
         <% end %>  
		  <% end %>  
  </p>

<br>
 <% if user_signed_in? %>
<%= link_to t('.show', :default => t("helpers.links.view/edit")),
            church_staff_path(church_staff), :class => 'btn   btn-success btn-mini-flat ' %>
 <% end%>  
</div>


 <% if index.odd? %>
<div class="span4"  >
	<br>
	<br>
	 &nbsp;&nbsp;&nbsp;<%= display_sidebar_staff(church_staff) %>
	 
	 
</div>

 

</div>

<% end%>
	 	<br>
	<br>
	<br><br>
<br>
<br><br>
<br>
<br>



	
		 
</div>
  
</td>
</tr>
 

<% end %>



  </tbody>
</table>
	</div>
		</div>
		
	</div> <!-- Span-->

	<div class="span1">
	 <%= render :partial => 'abouts/side_buttons'%>
      
	</div>
	</div> <!-- Row-->
		
