<%- model_class = ChurchStaff -%>
<div class="page-header">
  <h1>   <% if @church_staff.title? %>
	  <%= @church_staff.title %> <%= @church_staff.full_name %>
	 <% else %>
	  <%= @church_staff.full_name %>
     <% end%>
  </h1>
</div>

<div class="row">
   <div class="span5">
	<div class="form-actions">
	<p><h5>Picture:</h5></p>
	<dl class="dl-horizontal form-actions">
	<%= render :partial => 'picture' %>


    </dl>
	</div>
<br>
<br>
<br>
<%= link_to t('.back', :default => t("helpers.links.View All Staff")),
           church_staffs_path, :class => 'btn btn-flat btn-success'  %>
	</div>
	
	<div class="span6 form-actions">

<p><h5>Information:</h5></p>
<dl class="dl-horizontal form-actions">
 
 	 <% if @church_staff.title? %>
     <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
     <dd><%= @church_staff.title %></dd>
<% end%>
 
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%=  @church_staff.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%=  @church_staff.last_name %></dd>
 
 
  
<% unless @church_staff.spouse_first_name !=nil %>
  <dt><strong><%= model_class.human_attribute_name(:spouse_first_name) %>:</strong></dt>
  <dd><%= @church_staff.spouse_first_name %></dd>
<% end %>

 
 
  
 <% if @church_staff.started_service? %>
  <dt><strong><%= model_class.human_attribute_name(:started_service) %>:</strong></dt>
  <dd><%= time_ago_in_words(@church_staff.started_service.to_formatted_s(:long) ) %></dd>
	<% end %>
 	<% unless @church_staff.description  !=nil %>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @church_staff.description %></dd>
	<% end %>
	
   <% unless @church_staff.contact_email !=nil %>
  <dt><strong><%= model_class.human_attribute_name(:contact_email) %>:</strong></dt>
  <dd><%= @church_staff.contact_email %></dd>
	<% end %>
	
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd>
	 <% for staff_ranks in @church_staff.staff_ranks %>
      <%=  staff_ranks.category %> 
     <% end%>
	</dd>
	
 
		<% unless @church_staff.birth_location !=nil %>
		<dt><strong>location of birth:</strong></dt>
	    <dd><%= @church_staff.birth_location %></dd>
	    <% end%>
		 <% if @church_staff.birthday? %>
		<dt><strong>Birthday:</strong></dt>
	    <dd><%= @church_staff.birthday.strftime("%B #{@church_staff.birthday.day.ordinalize}") %></dd>
	    <% end%>
	
	
	
	
		 <% if @church_staff.phone_number? %>
	<dt><strong>Phone Number:</strong></dt>
    <dd><%= @church_staff.phone_number %></dd>
    <% end%>

	 	 <% if @church_staff.phone_ext? %>
	<dt><strong>phone_ext:</strong></dt>
    <dd><%= @church_staff.phone_ext %></dd>
    <% end%>
	
	 <% unless @church_staff.facebook !=nil %>
	<dt><strong>Facebook:</strong></dt>
    <dd><%= @church_staff.facebook %></dd>
    <% end%>

	 <% unless @church_staff.url !=nil %>
	<dt><strong>Website:</strong></dt>
    <dd><%= @church_staff.url %></dd>
    <% end%>

	 <% unless @church_staff.blog !=nil %>
	<dt><strong>Blog:</strong></dt>
    <dd><%= @church_staff.blog %></dd>
    <% end%>

  <% unless @church_staff.linked_in !=nil %>
  <dt><strong>linked_in:</strong></dt>
  <dd><%= @church_staff.linked_in %></dd>
<% end%>

  <% unless @church_staff.google_plus !=nil %>
  <dt><strong>google_plus:</strong></dt>
  <dd><%= @church_staff.google_plus %></dd>
<% end%>

  <% unless @church_staff.twitter !=nil %>
	<dt><strong>twitter:</strong></dt>
  <dd><%= @church_staff.twitter %></dd>
<% end%>
<br>
<dt><strong>Test Email:</strong></dt>
<dd>  
<%= link_to t('.new', :default => t("helpers.links.Check Email")),
                 contact_staff_path(:staff => @church_staff.email_id), :class => 'btn   btn-info btn-mini-flat' %></dd>
<br>
  
</dl>
 

 
 
<br>
<div class="form-actions"  >
 
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_church_staff_path(@church_staff), :class => 'btn btn-flat btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.delete")),
             church_staff_path(@church_staff),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-flat' %>
</div>


</div>

</div>  <!-- Row -- >
