<%= simple_form_for @sermon, :html => { :class => 'form-horizontal' } do |f| %>

 

 
  <%= f.input :title, :label=>"Title:", :placeholder=>' God is Good', :input_html => { :class => "enroll_input span4"}   %>
  
 

	<%= f.input :date_of_sermon, :label=>"Date of Sermon:",  :hint => "The date of the Sermon:", :wrapper => :append do %>
	  <%= f.input_field :date_of_sermon, :id=> 'sermon_date',   :as => :string, :placeholder=>"Date of Sermon" %><span class="add-on"><i class="icon-calendar"></i></span>
	<% end %>

 
	
 
<%= f.input :speaker_id, collection: Speaker.all, label_method: :full_name, value_method: :id,label: "Select Speaker:", include_blank: false %>

  <%= f.input :members_only, :label=>"Members Only?:" %>
  <%= f.input :audio_url, :label=>"Link to Audio File:" %>

<%= f.input :category , :label=>'Keywords :',  :placeholder=>"Add as many keywords as you like" , :input_html => { :class => "enroll_input span4", :rows => 3} %> 

<% if @sermon.persisted? %>
 
  
  	<%= f.input :description , :label=>'Description :'  , :input_html => { :class => "enroll_input span5", :rows => 5} %> 
 	<% end %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary btn-flat' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sermons_path, :class => 'btn btn-flat' %>
  </div>
<% end %>
