  <li class="span10 sermon_text">  
				 	 
  	 <span class="sermon_text_small"><%= sermon.date_of_sermon.strftime("%B #{sermon.date_of_sermon.day.ordinalize}, %Y") %> </span>   <br>
     <span class=" site_blue"> <%= sermon.title %> <%= member_only_label(sermon) %></span> <br>
 					 
    <span class="sermon_text_small "> Speaker:</span> <span class="sermon_text_small site_blue"> <%= getspeaker(sermon) %> </span>      &nbsp;&nbsp;<span class="sermon_text_small ">Topic: </span><span class="sermon_text_small site_blue">  <%= sermon.category %> </span>     <br>
  	
	<%= link_to t('.sign_up', :default => t("helpers.links.Download")),
  					 			                         sermon.audio_url, :target => '_blank', :class => 'btn btn-info btn-mini-flat' %>
							 
  			 
					<% if user_signed_in? %>
					 <% if can? :edit, :sermons %>				 
 
   <%= link_to t('.edit', :default => t("helpers.links.edit")),
               edit_sermon_path(sermon), :class => 'btn btn-mini-flat' %>
   <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
               sermon_path(sermon),
               :method => :delete,
               :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
               :class => 'btn btn-mini-flat btn-danger' %>
				<% end %>
				<% end %>
				
				
  </li>
				 
  
 