<%- model_class = Sermon -%>
<div class="page-header">
  <h1><%= @sermon.title %></h1>
</div>



<div class="row">
   <div class="span5">
	<div class="form-actions">
	<p><h5>Picture:</h5></p>
	<dl class="dl-horizontal form-actions">
	<%= render :partial => 'picture' %>


    </dl>
	</div>
<br>
<br>
<br>
<%= link_to t('.back', :default => t("helpers.links.View All Sermons")),
           sermons_path, :class => 'btn btn-flat btn-success'  %>
	</div>
	
	<div class="span6 form-actions">

<p><h5>Information:</h5></p>
 
	<dl class="dl-horizontal form-actions">
	  <dt><strong><%= model_class.human_attribute_name(:date_of_sermon)%>:</strong></dt>
	  <dd><%= @sermon.date_of_sermon %></dd>

	  
	  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
	  <dd><%= @sermon.category %></dd>
	  <dt><strong><%= model_class.human_attribute_name(:audio_url) %>:</strong></dt>
	  <dd><%= @sermon.audio_url %></dd>
 
	  
		  
	  <dt><strong><%= model_class.human_attribute_name(:speaker_id) %>:</strong></dt>
	  <dd><%= @sermon.speaker_id %></dd>
 
		  
		  
	  <dt><strong><%= model_class.human_attribute_name(:members_only) %>:</strong></dt>
	  <dd><%= @sermon.members_only %></dd>
 
 
  
</dl>
 

 
 
<br>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              sermons_path, :class => 'btn btn-flat btn-info'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sermon_path(@sermon), :class => 'btn btn-flat  btn-info' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              sermon_path(@sermon),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-flat ' %>
</div>


</div>

</div>  <!-- Row -- >



 <div class="row-fluid">
   <div class="span6">
	
	
	</div>
	
	<div class="span6">
		<dl class="dl-horizontal">
		  <dt><strong><%= model_class.human_attribute_name(:date_of_sermon)%>:</strong></dt>
		  <dd><%= @sermon.date_of_sermon %></dd>

		  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
		  <dd><%= @sermon.category %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:audio_url) %>:</strong></dt>
		  <dd><%= @sermon.audio_url %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:display_until) %>:</strong></dt>
		  <dd><%= @sermon.display_until %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:speaker_id) %>:</strong></dt>
		  <dd><%= @sermon.speaker_id %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:members_only) %>:</strong></dt>
		  <dd><%= @sermon.members_only %></dd>
	 
		</dl>


	</div>
</div>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              sermons_path, :class => 'btn btn-flat btn-info'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sermon_path(@sermon), :class => 'btn btn-flat  btn-info' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              sermon_path(@sermon),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-flat ' %>
</div>
