


<div class="page-header">
  <h1>Contact Us</h1>
</div>
<%= simple_form_for @message, :html => { :class => 'form-horizontal'} , :url => contact_staff_path do |f| %>
<table class="table table-striped">

  <tbody>
  	 <tr>	     
	  <th>
		<br>
		<% if @church_staff != nil%>
	
    	 <% if @church_staff.title? %>
		
		This message will be sent to: <%= @church_staff.title %> <%= @church_staff.full_name %>
		 <% else %>
		 This message will be sent to:  <%= @church_staff.full_name %>
        <% end%>
		
	 
		
		<%= f.input :staff, :as => :hidden %>
		
			<br>
				<br>
			
	    <% else %>		
	<%= f.input :staff, collection: ChurchStaff.all, label_method: :full_name , value_method: :email_id ,label: "Select Staff:", include_blank: false %>	
			 
 		
		<% end %>
		
    <%= f.input :name, :label=>"Name:", :placeholder=>"Your Name", :input_html => { :class => "enroll_input span5"}  %>
   
    
    
	<%= f.input :email,  :label=>"Email Address:",  :input_html => { :class => "enroll_input span4"}, :wrapper => :append do %>
	  <%= f.input_field :email,   :placeholder=>"Your Email Address" %><span class="add-on"><i class="icon-envelope"></i></span>
	<% end %>
 
    <%= f.input :subject, :label=>'Subject:' %>

 
	<%= f.input :body, :label=>'Message:', as: :text, :input_html => { :class => "enroll_input span4", :rows => 6} %>

 </th>
</tr>
</tbody>
</table>
  
<div class="form-actions">
	    <%= f.button :submit, 'Send Message', :class => 'btn-primary btn' %>
	
  </div>
  </div>
<% end %>




	
