
	<div id="myCarousel" class="carousel slide span8 " >
		<ol class="carousel-indicators">
		  
			<% @events.each.with_index  do |event, index| %> 
					<% if index == 0 %> 
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li> 
				 <% else %>	
				<li data-target="#myCarousel" data-slide-to="#{index}"></li>
					
				  <% end %>
 					<% end %>
			 	
		</ol>
		<div class="carousel-inner">
		 
		 <% @events.each.with_index  do |event, index| %>
		    
				<% if index == 0 %> 
	 	<div class="item active">
	 
			 <% else %>
			    	<div class="item">
			  <% end %> 
		 	<%= display_carousel_event_picture(event) %>
		 	 
		<div class="carousel-caption">
		<h4><%= event.event_name %></h4>
		<p><%= event.event_date %> at <%= event.event_start_time.strftime("%l:%M %p") %>
	 <%= link_to 'Learn More', learn_more_path(event), :class => "pull-right btn btn-mini-flat btn-primary"%></p> 
					 </div> 
				</div>
		  
			    <% end %>
			
		</div>
		
		
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
		

		 

