<%= simple_form_for @about, :html => { :class => 'form-horizontal' } do |f| %>
 
 


	  <%= f.input :address, :label=>'Address:', :placeholder=>"Address" %>
	  <%= f.input :city, :label=>'City:', :placeholder=>"City"  %>
	  <%= f.input :province, :label=>'Province:', :placeholder=>"Province"   %> 
      <%= f.input :country, :as=>:string,  :label=>"Country:", :placeholder=>"Canada" %> 
	  <%= f.input :postal_code , :label=>'Postal Code :', :placeholder=>"Postal Code" %> 
	  <%= f.input :phone_number, :label=>'Phone:',  :placeholder=>"Phone"  %>
	  <%= f.input :toll_free_phone_number, :label=>'Toll Free Number:',  :placeholder=>"Toll Free Phone"  %>
	  <%= f.input :fax_number, :label=>'Fax Number:',  :placeholder=>"Fax Number"  %>
	 
 
	
	
	

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary btn btn-flat' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                abouts_path, :class => 'btn btn-flat' %>
  </div>
<% end %> 


