<%= simple_form_for @about, :html => { :class => 'form-horizontal' } do |f| %>
 
 


	  <%= f.input :address, :label=>'Address:', :placeholder=>"Address" %>
	  <%= f.input :city, :label=>'City:', :placeholder=>"City"  %>
	  <%= f.input :province, :label=>'Province:', :placeholder=>"Province"   %> 
      <%= f.input :country, :as=>:string,  :label=>"Country:", :placeholder=>"Canada" %> 
	  <%= f.input :postal_code , :label=>'Postal Code :', :placeholder=>"Postal Code" %> 
	  <%= f.input :phone_number, :label=>'Phone:',  :placeholder=>"Phone"  %>
	  <%= f.input :toll_free_phone_number, :label=>'Toll Free Number:',  :placeholder=>"Toll Free Phone"  %>
	  <%= f.input :fax_number, :label=>'Fax Number:',  :placeholder=>"Fax Number"  %>
	  <%= f.input :youtube, :label=>'Youtube:',  :placeholder=>"Youtube"  %>
	<%= f.input :facebook, :label=>'Facebook:',  :placeholder=>"Facebook Link"  %>
	<%= f.input :video_stream , :label=>'Link Video Stream  :',  :placeholder=>"Video Stream "  %>
	<%= f.input :twitter, :label=>'Twitter:',  :placeholder=>"Twitter"  %>
	<%= f.input :life_pulse, :label=>'Enable Life Pulse:' %>
	<%= f.input :leaders_blog, :label=>'Enable Leaders Blog:' %>
	<%= f.input :store, :label=>'Enable Online Store:' %>
	<%= f.input :video, :label=>'Enable Video:' %>
	<%= f.input :articles, :label=>'Enable Articles:' %>
 
	
	
	

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary btn btn-flat' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                abouts_path, :class => 'btn btn-flat' %>
  </div>
<% end %> 


