 <% provide(:title, "The Facility") %>
<div class="Row">
	<div class="span10">


<div class="mission_bg img-rounded ">
	<br>
<table width="100%" class="table_zero"> 
 <td style="width:5px; padding: 0 50px; white-space: nowrap;"><span class="main_text">Our Facilities</span> </td>
  <td><hr class="round_line_hoz" /></td>
</table>
 <hr class="round_line_hoz2 " /> 
 <br>
 <div class="row">
  <div class="span10 pull-center">    
	 	<%= image_tag("facilities_where_we.png" , :height => "33%" , :width => "33%" ) %>&nbsp;&nbsp; &nbsp;&nbsp;
		&nbsp;&nbsp; <%= image_tag("inside_wc.png", :height => "33%" , :width => "33%" ) %> 	 
 	  <br><br> 
   	</div>
  </div>
  
   <hr class="round_line_hoz2 " /> 
 
 <br>
 
 <div class="row">
  <div class="span10 pull-center">  
  <div class="span8 offset1"> 
 <table width="100%" class="table_zero"> 
  <tr><td>
  &nbsp;&nbsp;&nbsp;&nbsp; <%= image_tag("outside_front.png" , :height => "330%" , :width => "330%" ) %></td><td width="5%"></td><td width="70%"><p class="mission_text pull-left " > 
		God has blessed Life Church with a wonderful facility on a beautiful 9-acre 
		property in Woodstock, Ontario.  The main building houses our church office 
		and is where we gather for our biweekly services.  Besides being our church 
		residence, the building also acts as the home of Life Christian Academy.  
		With everything we have going on it is not uncommon to see all sorts of 
		activity happening in and around our multipurpose building throughout the week.

		
 		 </p>
	 
   </td>
    </tr>
 
	<tr>
		<td colspan="3">
			<p class="mission_text pull-left " > 
					<br>
					 
					If you were to look behind our building you would discover a beautiful section of 
					green area we affectionately refer to as Life Park.  This is where you will find our 
					soccer pitch, beach volleyball court, fire pit, and a lovely treed area where we like to hold our church picnics.  Although our sanctuary is comfortable and accommodating, in the summer we do 
			enjoy taking advantage of Life Park by holding the occasional evening service outside.   We are truly thankful for 
			the wonderful facilities God has placed in our care.    
		    		 </p>
			 		
			
    </td>
     </tr>
 </table>
 
</div> 
</div>
</div>


  


 <div class="row">
  <div class="span10 pull-left"> 
	    <div class="span8 offset1">    
	 		&nbsp;&nbsp; <%= image_tag("fire_pit.png", :height => "40%" , :width => "40%")%>&nbsp;&nbsp; &nbsp;&nbsp;
		&nbsp;&nbsp;  <%= image_tag("park.png", :height => "40%" , :width => "40%"  ) %>
 	  <br><br> 
	  	</div>
   	</div>
  </div>



</div>
</div> <!-- Span-->

<div class="span1">
 <%= render :partial => 'side_buttons'%>
      
</div>
</div> <!-- Row-->
