
 <div id='background' class='row-fluid'>
        <div class='span12'>
	



            <div class='row span12'>
		<br><%= image_tag("disciples.png", size: "373x29")%><%= link_to (image_tag( "service_time.png", size: "273x29", :class=>'image_no_padding')),  abouts_path + "#service_times"  %><%= link_to (image_tag( "new_here.png", size: "131x29", :class=>'image_no_padding' )),  abouts_what_to_expect_path  %><%= link_to (image_tag( "contact.png", size: "132x29", :class=>'image_no_padding')),  contact_path  %>
		<br>
 
		 
 </div>


    <div  id='site-column' class="row-fluid ">

 <div>
 </div>

<%= render :partial => 'carousel' , :picture => @events %></div>
 <div class="row-fluid">
	 <div class="span2 " style="height: 450px; width: 216px;">
  <%= render :partial => 'side_event' , :picture => @events_side %></div>

		  <div class="span1"> 

			<br>
			<%= image_tag("join_us_long.png")%> 
			<br>
			<br>


	&nbsp;<%= link_to (image_tag( "live.png", size: "40x50",
	            alt: @abouts.youtube, 
	            mouseover: "live_hover.png")).html_safe,  @abouts.youtube, :target => '_blank'  %>

	<br>
	<br>

				&nbsp;<%= link_to (image_tag( "facebook.png", size: "40x50",
				            alt: "http://#{facebook_link(@abouts.facebook)}", 
				            mouseover: "facebook_hover.png")).html_safe,  "http://#{facebook_link(@abouts.facebook)}", :target => '_blank'  %>
							<br>
							<br>


							&nbsp;<%= link_to (image_tag( "twitter.png", size: "40x50",
							            alt: "http://#{twitter_link(@abouts.twitter)}", 
							            mouseover: "twitter_hover.png")).html_safe,  "http://#{twitter_link(@abouts.twitter)}", :target => '_blank' %>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>


	</div>
</div>
</div>	


</div> <%# row fluid %>




 
	
 </div>  <%# span 12 %>
 


</div>  
 

 
  
  