 
<section id="service_times">
<div class="page-header">
  <h1>General Info</h1>
</div>

 <div class="row-fluid">
 <div class="span12">
	<h3>Service Times</h3>
	<p>
	
	   <% @service_times.each do |service_time| %>

 
	<br>
  <%= service_time.service_name %> 
	
	<br>
 <%= service_time.start_time.strftime("%l:%M %p")  %> 

	
 
  
	
		

 <% end %>

	</p>
	
	</div>
 
</div>

</section>
<section id="direction">
<div class="row-fluid">
	<div class="span8">
     
	
	<iframe width="100%" height="650" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?q=547+athlone+ave+woodstock+on&amp;ie=UTF8&amp;hq=&amp;hnear=547+Athlone+Ave,+Woodstock,+Ontario+N4S+7V8&amp;gl=ca&amp;ll=43.106388,-80.745452&amp;spn=0.015604,0.034547&amp;t=h&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?q=547+athlone+ave+woodstock+on&amp;ie=UTF8&amp;hq=&amp;hnear=547+Athlone+Ave,+Woodstock,+Ontario+N4S+7V8&amp;gl=ca&amp;ll=43.106388,-80.745452&amp;spn=0.015604,0.034547&amp;t=h&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	
	
	
	
	</div> 
  	<div class="span4">
		<h2>Snail mail</h2>
		<address>
			<strong>Life Church International</strong><br>
			<%=@abouts.address %><br>
			<%=@abouts.city %><br>
			<%=@abouts.province %><br>
			<%=@abouts.postal_code %><br>
			 <i class="icon-phone"></i>  <%=@abouts.phone_number %><br>
			<i class="icon-phone"></i>   <%=@abouts.toll_free_phone_number %><br>
		</address>
	</div>
</div>
</section>
<section id="contact">
<h3>Contact Us</h3>
<form class="well span8">
  <div class="row">
		<div class="span3">
<%= simple_form_for @message, :html => { :class => 'form-horizontal'} , :url => abouts_contact_path do |f| %>
 
    <%= f.input :name, :label=>"Name:", :placeholder=>"Your Name", :input_html => { :class => "enroll_input span3"}  %>
   
	  <%= f.input_field :email,  :label =>"Email Address", :placeholder=>"Your Email Address", :input_html => { :class => "enroll_input span3"}  %> 
 
	<%= f.input :subject,  :label=>'Subject:' , :selected=>["Please Choose"],  collection: [ "General Customer Service", "Prayer Request"]%> 
	
		</div>
		<div class="span5">
	<%= f.input :body, :label=>'Message:', as: :text, :input_html => { :class => "input-xlarge span5", :rows => 10} %>
 
  </div>
 <br>
	    <%= f.button :submit, 'Send Message', :class => 'btn-primary pull-right btn btn-flat' %>
 
 		</div>
	</form>
<% end %>


 </section>


 