 
<div class="mission_bg img-rounded ">
	<br>
<table width="100%" class="table_zero"> 
 <td style="width:5px; padding: 0 50px; white-space: nowrap;"><span class="main_text">About Life Church</span> </td>
  <td><hr class="round_line_hoz" /></td>
</table>
<div class="row pull-center">
<div class="span10 ">
	 <hr class="round_line_hoz2 " /> 
<p class="text-center span9">
	<br>
		<%= image_tag("about_lc_building.png"  ) %>
</p>
</div>
</div>
 <hr class="round_line_hoz2 " /> 
 <br>
 <div  class="row">
 <div  class="span7  offset1">
 <p class="pull-left staff_descrip img-rounded">Life Church is a growing, personal, relationship-based church that focuses
on influencing individuals, families and community with the gospel of 
Christ. We believe the only hope we have in life is Jesus – so in 
everything we do we point people toward Him. We do this by making 
disciples through gospel-centered teaching, worship, prayer, fellowship, 
service and sacrifice.  Life Church exists to bring glory to God.  We are an 
assembly of disciples glorifying God together. </p>
</div><div class=" span1">
 <table> 
	 <tr><td>
		 <br>
	   <%= link_to 'What We Believe', abouts_what_we_believe_path, :class => 'btn btn-primary btn-about '%>
	</td></tr>
	 <tr><td> 
	 <%= link_to 'Mission & Method', abouts_mission_method_path, :class => 'btn btn-primary btn-about '%>
	</td></tr>
 <tr><td>
	  <%= link_to 'What To Expect', root_path,  :class => 'btn btn-primary btn-about '%>
</td></tr>
 <tr><td> 
	 <%= link_to 'Leadership', root_path, :class => 'btn btn-primary btn-about '%>
</td></tr>

 </table>
</div><!-- Span7 -->
</div> <!-- Row -->
<br>
 <hr class="round_line_hoz2 " /> 
 <br>
 
 

<section id="service_times">
<div class="row">
 <div class="span5">	
	 <br>
 
	<%= image_tag("you_are_welcome.png",:style=>"margin-left:50px;") %> 
 </div>
 <div class="span4" style="margin-left:75px;">
	 <p>
	<h40>Service Times</h40>
	
	
	   <% @service_times.each do |service_time| %>

 
	<br>
  <%= service_time.service_name %>&nbsp;- <%= service_time.start_time.strftime("%l:%M %p")  %> 

 <% end %>

	</p>
	
	</div>
 
</div>
<br>
<br>
<br>
</section>
<section id="direction">
<div class="row-fluid">
	<div class="span7">
     &nbsp;
	 &nbsp;
	
	<iframe width="80%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?q=547+athlone+ave+woodstock+on&amp;ie=UTF8&amp;hq=&amp;hnear=547+Athlone+Ave,+Woodstock,+Ontario+N4S+7V8&amp;gl=ca&amp;ll=43.106388,-80.745452&amp;spn=0.015604,0.034547&amp;t=h&amp;z=14&amp;output=embed&iwloc=near"></iframe><br /><small><a href="https://maps.google.ca/maps?q=547+athlone+ave+woodstock+on&amp;ie=UTF8&amp;hq=&amp;hnear=547+Athlone+Ave,+Woodstock,+Ontario+N4S+7V8&amp;gl=ca&amp;ll=43.106388,-80.745452&amp;spn=0.015604,0.034547&amp;t=h&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	
</div> 
  	<div class="span5">
		<h2>Church Location</h2>
		<address>
			<strong>Life Church International</strong><br>
			<%=@abouts.address %><br>
			<%=@abouts.city %><br>
			<%=@abouts.province %><br>
			<%=@abouts.postal_code %><br>
			 <i class="icon-phone"></i>  <%=@abouts.phone_number %><br>
			<i class="icon-phone"></i>   <%=@abouts.toll_free_phone_number %><br>
		</address>
		
		<p><strong>You can see the Church from 401</strong></p>
		
		<p><strong>Click on the Map for Directions</strong></p>
	</div>
</div>
</section> 


 <br>
</div>