
 
<div class="span10 mission_bg img-rounded">


<div class="mission_bg img-rounded">
	<br>
<table width="100%" class="table_zero"> 
 <td style="width:5px; padding: 0 50px; white-space: nowrap;"><span class="main_text">Our Mission & Methods</span> </td>
  <td><hr class="round_line_hoz" /></td>
</table>
 <hr class="round_line_hoz2 " /> 
 <br>
<div class="Row">
 <div class="span10 pull-center">  
	 
	 <%= image_tag("main_Mission&Methods.jpeg",   :class=>"pull-center" ) %>
	  <br>
	   <br>
 </div>
 
  </div> 
 <br>
 
 <hr class="round_line_hoz2 " /> 
  <br>
 <div class="Row ">
 
	 <div class=" span3">  
		 <%= image_tag("middle_Mission&Methods.png" ) %>
	 </div>
	 <div class="span5">
		 <p><em>
			 As a church, and as individuals, our ultimate goal 
			 is to bring glory to God.  In order to achieve this 
			 goal we must have a plan.  However, we do not 
			 ask God to bless our plans.  Rather we align with 
			 the plans He has already promised to bless.
		 </em>
		 </p>
	 
	</div>  
</div>	
 <hr class="round_line_hoz2 " /> 
  <br>
   <br>
 <div class="Row">
	 <div class="offset1 span7">  
		 <%= image_tag("title_life.png", :class =>"img-rounded", :size =>"352x36" ) %>
	 </div>
	  
</div>	
<br>
<br><br>
 <div class="Row">
	 <div class="offset1 span1">  
		 <%= image_tag("l_life.png", :class =>"img-rounded", :size =>"35x38" ) %>
	 </div>
	 <div class="span6">
		 <p><em>
			 Stands for Loving relationships.  God not only calls us to Himself, 
			 but He calls us to each other.  Every time we get together it provides 
			 an opportunity to build and sharpen each other, as well as practice 
			 the many “one another’s” found in Scripture.  As a local body we are 
			 to love each other and reflect the love of God to the world.  - John 13:35 
		 </em>
		 </p>
	</div>
</div>	
 <div class="Row">
	 <div class="offset1 span1">  
		 <%= image_tag("i_life.png", :class =>"img-rounded", :size =>"35x36" ) %>
	 </div>
	 <div class="span6">
		 <p><em>
			 Stands for Individual destiny.  The church is made up of individuals 
			 called by God.  In order for the church to become what God desires it 
			 to be each individual needs to become what God has called him or her 
			 to be.  Therefore, In order to equip every individual for their specific 
			 calling we provide teaching and training in the Scriptures, as well as 
			 opportunities to serve within the church and community. - Eph 4:11-16   
		 </em>
		 </p>
	</div>
</div>	
 <div class="Row">
	 <div class="offset1 span1">  
		 <%= image_tag("f_life.png", :class =>"img-rounded", :size =>"35x42" ) %>
	 </div>
	 <div class="span6">
		 <p><em>
			 Stands for Faith experienced.  The Bible informs us that we are to live 
			 our lives by faith.  Our faith is not dead or stagnant, but rather it is 
			 living, powerful, and growing.  As a local body of believers we are to 
			 encourage and make room for everyone to exercise their faith and allow 
			 it to produce the fruits (works) only a living faith could yield.    
			 – Gal 3:11, James 2:26   
		 </em>
		 </p>
	</div>
</div>	
 <div class="Row">
	 <div class="offset1 span1">  
		 <%= image_tag("e_life.png", :class =>"img-rounded", :size =>"35x42" ) %>
	 </div>
	 <div class="span6">
		 <p><em>
			 Stands for evangelism.  It is the duty and privilege of every Christian 
			 to endeavor to make disciples of all nations.  We firmly believe that 
			 evangelism and missions should take place in our home, in our
			 community, and thousands of miles away.  If we are to take seriously 
			 the duty and privilege of making disciples of all peoples it begins with 
			 everyone reaching someone.  – Matt 28:18-20  
		 </em>
		 </p>
	</div>
</div>	 
		 


</div>
</div> <!-- Span-->

<div class="span1">
 <%= render :partial => 'side_buttons'%>
      
</div>
 
