<%- model_class = About -%>
<div class="page-header">
  <h1>General Info</h1>
</div>
 

 

<dl class="dl-horizontal">
 
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @about.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @about.city %></dd>
  <dt><strong>Province:</strong></dt>
  <dd><%= @about.province %></dd>
  <dt><strong>Country:</strong></dt>
  <dd><%= @about.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:postal_code) %>:</strong></dt>
  <dd><%= @about.postal_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone_number) %>:</strong></dt>
  <dd><%= @about.phone_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:toll_free_phone_number) %>:</strong></dt>
  <dd><%= @about.toll_free_phone_number %></dd>
  
  <% unless @about.fax_number !=nil %>
  <dt><strong><%= model_class.human_attribute_name(:fax_number) %>:</strong></dt>
  <dd><%= @about.fax_number %></dd>
  <% end %>

  <dt><strong>Life Pulse Status:</strong></dt>
  <dd><%= status_life_pulse(@about) %></dd>
  <dt><strong>Leader Blog Status:</strong></dt>
  <dd><%= status_leaders_blog(@about) %></dd>
  <dt><strong>Online Store Status:</strong></dt>
  <dd><%= status_store(@about) %></dd>
  <dt><strong>Video Section Status:</strong></dt>
  <dd><%= status_video(@about) %></dd>
  <dt><strong>Article Section Status:</strong></dt>
  <dd><%= status_article(@about) %></dd>
 
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              abouts_path, :class => 'btn btn-flat btn-primary'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_about_path(@about), :class => 'btn btn-flat btn-success' %>
  
</div>
<%= yield :scripts %>