 
<div class="span10 mission_bg img-rounded">



<div class="mission_bg img-rounded ">
	<br>
<table width="100%" class="table_zero"> 
 <td style="width:5px; padding: 0 50px; white-space: nowrap;"><span class="main_text">What to Expect</span> </td>
  <td><hr class="round_line_hoz" /></td>
</table>
 <hr class="round_line_hoz2 " /> 
 
 <br>
 
 <div class="row">
 <div class="span10 text-center ">
 <p class="italic_text text-center span9">
	 We are glad you are interested in learning more about Life Church and potentially visiting us in the near 
	 future.  In order to help make your first visit more comfortable we have taken the liberty of providing 
	 some answers to question you might have about what to expect.  You will find that we are a loving group 
	 of people who seek to bring glory to God in all that we do. We hope you will join us at one of our services 
	 and consider making us your church family.
	

 </p>
</div>
</div>
<div class="row">
<div class="span10">
	
	<div class="span2 offset2">
		 <%= link_to 'What to Expect', abouts_what_to_expect_path + "#what_to_expect", :class => 'btn btn-primary btn-about2 '%>
	</div>
	
	<div class="span2">
		 <%= link_to 'Where to Park', abouts_what_to_expect_path + "#where_to_park", :class => 'btn btn-primary btn-about2 '%>
	</div>
	
	<div class="span2">
	  <%= link_to 'When I Arrive', abouts_what_to_expect_path + "#when_i_arrive",  :class => 'btn btn-primary btn-about2 '%>
	</div>
	
</div>
</div>
<br>
<div class="row">
<div class="span10">
	
	<div class="span2 offset2">
		  <%= link_to 'Your Children', abouts_what_to_expect_path + "#your_children",  :class => 'btn btn-primary btn-about2 '%>
	</div>
	
	<div class="span2">
		 <%= link_to 'The Music', abouts_what_to_expect_path + "#the_music", :class => 'btn btn-primary btn-about2 '%>
	</div>
	
	<div class="span2">
	  <%= link_to 'What to Wear', abouts_what_to_expect_path + "#what_to_wear",  :class => 'btn btn-primary btn-about2 '%>
	</div>
	
</div>
</div>

 
 
<br>
<br>
<section id="what_to_expect">
    <div class="Row">
    
   	 <div class="span10 ">
		 <div class="verticalLine">
   		 <p><em>
			 <strong>What to expect?</strong>
			 <br>
			 We hold two services a week here at Life Church. Both services are unique and the messages are 
			 not repeated.  Every service typically consists of praise and worship, greeting time, a brief offering, 
			 and the sermon.  Our Wednesday service tends to run under an hour and a half long, ending 
			 around 9pm, and our Sunday service typically runs under 2 hours ending at 12pm.  We have a 
			 brief reception during greeting time for our first time visitors.
   		 </em>
   		 </p>
		 </div>
   	</div>
   </div>	 
	
</section>
<br><br>
<section id="where_to_park">
    <div class="Row">
 
   	 <div class="span10">
		 <div class="verticalLine">
   		 <p><em>
			 <strong>Where to park?</strong>
			 <br> 
			 When it comes to service times the best place to park is in the back by our canopy entrance.  If you
			 are visiting during business hours than you will want to park at the side of the building where our 
			 office entrance is located.
   		 </em>
   		 </p>
		 </div>
   	</div>
   </div>	
	
</section>
<br><br>
<section id="when_i_arrive">
    <div class="Row">
 
   	 <div class="span10">
		 <div class="verticalLine">
   		 <p><em>
			 <strong>What happens when I arrive?</strong>
			 <br> 
			 We trust that you’ll feel welcome and at ease as you are greeted when you walk in the door. Ushers
			 can answer any questions you might have and will provide you with a service bulletin.  At your 
			 leisure you can make your way to the sanctuary and you are free to sit in any available seat you 
			 desire.  The ushers have Bibles you can borrow if you need one for the service.
   		 </em>
   		 </p>
		 </div>
   	</div>
   </div>	
	
</section>
<br><br>
<section id="your_children">
    <div class="Row">
 
   	 <div class="span10">
		 <div class="verticalLine">
   		 <p><em>
			 <strong>What about my Children?</strong>
			 <br> 
			 We have age specific services for children ages 0-12 on Sundays, and for children ages 0-5 on 
			 Wednesdays.  Their classrooms are located downstairs, and are open for registration 15 minutes 
			 prior to the start of service. 
   		 </em>
   		 </p>
		 </div>
   	</div>
   </div>	
	
</section>

<br><br>
<section id="the_music">
    <div class="Row">
 
   	 <div class="span10">
		 <div class="verticalLine">
   		 <p><em>
			 <strong>What is the music like?</strong>
			 <br>
 
			 Praise and worship is an important part of our services.  You can expect a mix of contemporary 
			 Christian music along with the occasional classic hymn.  Don’t worry if you don’t know the lyrics, 
			 we will project the words on the main screen to help you out.  The congregation tends to sing along 
			 with the worship team, and do not be surprised if some people become expressive in their praise by 
			 clapping or raising their hands.
   		 </em>
   		 </p>
		 </div>
   	</div>
   </div>	
	
</section>
<p>
	<br><br><br><br></p>

<section id="what_to_wear">
    <div class="Row">

   	 <div class="span10">
		 <div class="verticalLine">
   		 <p><em>
			 <strong>What should I wear?</strong>
			 <br>
		 
			 We do not have a dress code, so please feel free to come dressed in what you feel is most 
			 comfortable.  If you are concerned with the ‘fashion trends’ at our services you will likely see some 
			 suits and ties on Sundays while more casual dress on Wednesdays.
   		 </em>
   		 </p>
		 </div>
   	</div>
   </div>	
	
</section>




</div>
</div> <!-- Span-->

<div class="span1">
 <%= render :partial => 'side_buttons'%>
      
</div>
 