 <% provide(:title, "What We Believe") %>
<div class="Row">
	<div class="span10">



<div class="mission_bg img-rounded ">
	<br>
<table width="100%" class="table_zero"> 
 <td style="width:5px; padding: 0 50px; white-space: nowrap;"><span class="main_text">What We Believe</span> </td>
  <td> <div class="round_line_hoz"> </div> </td>
</table>
<div class="row">
<div class="span10 text-center ">
	<br>
<p class="italic_text text-center span9">
	Life Church exists to glorify God by making disciples, and by exercising our personal & corporate devotion 
	to Christ in such a way as to create a community that reflects God’s character and nature to the world.
	

</p>
</div>
</div>
  <div class="round_line_hoz2"> </div> 
 
 <div class="row">
 <div class="span10 text-center ">
 
 <br>
 <section  class="bookmark" id="Simple">
 <p ><span class="text_offset_bottom drop_text"> Which Statement of Beliefs would you like to see?&nbsp;&nbsp; </span><i class="icon-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Simple',abouts_what_we_believe_path + "#Simple", :class => 'btn  img-rounded btn-primary btn-mini-flat-rounded'%>  <span class="text_offset_bottom drop_text"> or</span> &nbsp;
						 <%= link_to 'Detailed',abouts_what_we_believe_path + "#detailed", :class => 'btn  img-rounded btn-primary btn-mini-flat-rounded'%>
						 
					 </p><br>
	<div class="round_line_hoz2"> </div> 
	<br>				 


	<div class="span7 offset2"  style="margin-left:40px;">	
		<div class="pull-left">
		 
			<p class="pull-left "  style="margin-left:25percent;">
				<h4>Simple Statement of Beliefs</h4>
			</p>	 
			<br>
			<br>
	    </div>		 
	</div>

	<div class="row">	
		<div class="span9" style="margin-left:93px;">	
			 	 
			 
	<%= render @summaries %>	
 
	</div>
</div>
	<% if can? :edit, :abouts %>
	<br>
	<div class="pull-left">
		<div class="row">
			<div class="span9">	
	<%= link_to t('.new', :default => t("helpers.links.new")),
	            new_summary_path,
	            :class => 'btn btn-primary' %>
			</div></div></div>
	 <% end %> 
	
	<br>			  
 
</section>
</div>
</div>
<div class="round_line_hoz2"> </div> 
<div class="row">
<div class="span10  ">
	
<section  id="detailed">				 
<br>	
<br>

  <br>
<div class="span9"  style="margin-left:40px;">	
	<div class="pull-left">
		 
		
<%= raw render :partial => 'at_we_believe'%>
    </div>		 
</div>
 
</section>

</div>
</div>
</div>
</div> <!-- Span-->

<div class="span1">
 <%= render :partial => 'side_buttons'%>
      
</div>
</div> <!-- Row-->
