<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>


<% Announcement.current(cookies.signed[:hidden_announcement_ids]).each do |announcement| %>
 
  <div class="alert alert-<%= announcement.colours %>">
  <%= div_for announcement do %>
    <%= announcement.message %> &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "x", hide_announcement_path(announcement), :class=>"close"%>
  <% end %>
   </div>
<% end %>

<% if user_signed_in? %>
 <% if current_user.edit_site == true %>
  <div class="alert alert-error">
   
   Editing Abliity has been enabled &nbsp;&nbsp;&nbsp;&nbsp; 
 
   </div>
<% end %>
<% end %>