<div class="masthead ">
 
 

<%= link_to image_tag("LifeLogo.png", :size => "190x45" ), root_path, :class=>'brand nav pull-left'%>


<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">  
<span class="icon-bar"></span>  
<span class="icon-bar"></span>  
<span class="icon-bar"></span>  
</a>   
  <div class="nav-collapse ">

<ul class="nav nav-pills ">
	
	
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT</a>
 
	    <ul class="dropdown-menu span4">
	        <li class="column-menu span2 firstcolumn">
			<p>&nbsp; Who We Are</p>
	            <ul>
					<li><%= link_to 'Mission & Methods', abouts_mission_method_path %></li>
	                <li><%= link_to 'What We Believe', abouts_what_we_believe_path %></li>
					<li><%= link_to 'Our Staff', church_staffs_current_staff_path %></li>
					<li><%= link_to 'Our Facilities', abouts_path %></li>
	                <li><%= link_to 'Membership', abouts_path %></li> 
	            </ul>
	        </li>
	        <li class="column-menu span2">
			<p>General Info</p>
	            <ul>
	                <li><%= link_to 'Service Times', abouts_path + "#service_times" %></li>
					<li><%= link_to 'Directions', abouts_path + "#direction" %></li>
					<li><%= link_to 'Contact Us', contact_path %></li>
	            </ul>
	        </li>
	    </ul>
	</li>
	
	
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">CONNECT</a>
	    <ul class="dropdown-menu span4">
	        <li class="column-menu span2 firstcolumn">
	
	            <ul>
	                <li><%= link_to 'Sermons', sermons_path %></li>
	                <li><%= link_to 'Speakers', speakers_path %></li>
	                <li><a href="#">Item</a></li>
	                <li><a href="#">Item</a></li>
	            </ul>
	        </li>
	        <li class="column-menu span2">
	            <ul>
	                <li><a href="#">Item</a></li>
	                <li><a href="#">Item</a></li>
	                <li><a href="#">Item</a></li>
	                <li><a href="#">Item</a></li>
	            </ul>
	        </li>
	    </ul>
	</li>
  <li>
    <%= link_to 'RESOUCRES', "/#" %>
    </li>
	<li>
    	<%= link_to 'GIVE', "http://life-church-e-giving.herokuapp.com/" %>
    </li>
 
	
   
 

	<% if user_signed_in? %>
	
	
                   <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome,  <%= current_user.name %> <b class="caret"></b></a>
                       <ul class="dropdown-menu">
                           <li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>   
						    <li>
						    <%= link_to edit_user_registration_path do %>
						  <i class="icon-cog"></i> Preferences 		 <% end %>
						    </li>
 					 

							  <li>
							    <%= link_to site_setups_site_setup_path do %>
							  <i class="icon-globe"></i> Site Setup		 <% end %>
							    </li>

 

                           <li class="divider"></li>
						    <li>
						    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
						    </li>
					
						
						
						  <% if current_user.has_role? :admin %>
						      <li>
						      <%= link_to 'ADMIN', users_path %>
						      </li>
						 <% end %>
						
						
							 
                       </ul>
 					 
                   </li>


				  <% else %>
				    <li>
				    <%= link_to 'LOGIN', new_user_session_path %>
				    </li>
				  <% end %>
           
     


 
 
 
    </ul>
</div>
</div>