<div class="masthead ">
 
 

<%= link_to image_tag("LifeLogo.png", :size => "190x45" ), root_path, :class=>'brand nav pull-left'%>


<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">  
<span class="icon-bar"></span>  
<span class="icon-bar"></span>  
<span class="icon-bar"></span>  
</a>   
  <div class="nav-collapse ">

<ul class="nav-pills nav">
	
	
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT</a>
 
	    <ul class="dropdown-menu span6">
	        <li class="column-menu span3 firstcolumn">
			<p>Who We Are</p>
	            <ul>
					<li><%= link_to 'Our Mission & Methods', abouts_path %></li>
	                <li><%= link_to 'What We Believe', abouts_path %></li>
					<li><%= link_to 'Our Staff', abouts_path %></li>
					<li><%= link_to 'Our Facilities', abouts_path %></li>
	                <li><%= link_to 'Membership', abouts_path %></li> 
	            </ul>
	        </li>
	        <li class="column-menu span3">
			<p>General Info</p>
	            <ul>
	                <li><%= link_to 'Service Times', abouts_path %></li>
					<li><%= link_to 'Directions', abouts_path %></li>
					<li><%= link_to 'Contact Us', abouts_path %></li>
	            </ul>
	        </li>
	    </ul>
	</li>
	
	
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">CONNECT</a>
	    <ul class="dropdown-menu span6">
	        <li class="column-menu span3 firstcolumn">
	
	            <ul>
	                <li><a href="#">Item</a></li>
	                <li><a href="#">Item</a></li>
	                <li><a href="#">Item</a></li>
	                <li><a href="#">Item</a></li>
	            </ul>
	        </li>
	        <li class="column-menu span3">
	            <ul>
	                <li><a href="#">Item</a></li>
	                <li><a href="#">Item</a></li>
	                <li><a href="#">Item</a></li>
	                <li><a href="#">Item</a></li>
	            </ul>
	        </li>
	    </ul>
	</li>
  <li>
    <%= link_to 'RESOUCRES', "/#" %>
    </li>
	<li>
    	<%= link_to 'GIVE', "http://life-church-e-giving.herokuapp.com/" %>
    </li>
 
	
  <% if user_signed_in? %>
    <li>
    <%= link_to 'LOGOUT', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'LOGIN', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'EDIT ACCOUNT', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'ADMIN', users_path %>
      </li>
    <% end %>
  <% else %>
 
  <% end %>
</ul>
<ul class="nav nav-pills pull-right">
 <li>
<form class="navbar-search form-search">
 
 <div class="input-append">

  <input type="text" class="input-medium search-query" placeholder="Search">
  <button type="submit" class="btn"><i class="icon-search"></i></button>
   </div>
</form> 
 
 

 </li>
</ul>

</div>
</div>