<div class="masthead ">
 
 

<%= link_to image_tag("LifeLogo.png", :size => "190x45" ), root_path, :class=>'brand nav pull-left'%>


<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">  
<span class="icon-bar"></span>  
<span class="icon-bar"></span>  
<span class="icon-bar"></span>  
</a>   
  <div class="nav-collapse ">

<ul class="nav nav-pills ">
	
	
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT</a>
 
	    <ul class="dropdown-menu span4">
	        <li class="column-menu span2 firstcolumn">
			<p>&nbsp; About Life Church</p>
	            <ul>
					<li><%= link_to 'Who We Are', abouts_path %></li>
					<li><%= link_to 'Mission & Methods', abouts_mission_method_path %></li>
	                <li><%= link_to 'What We Believe', abouts_what_we_believe_path %></li>
					<li><%= link_to 'Our Staff', church_staffs_path %></li>
					<li><%= link_to 'Our Facilities', abouts_facility_path %></li>
	                <li><%= link_to 'Membership', abouts_membership_path %></li> 
	            </ul>
	        </li>
	        <li class="column-menu span2">
			<p>General Info</p>
	            <ul>   
	                <li><i class="icon-time"></i>  <%= link_to 'Service Times', abouts_path + "#service_times" %></li>
					<li><i class="icon-map-marker"></i> <%= link_to 'Directions', abouts_path + "#direction" %></li>
					<li><i class="icon-phone"></i> <%= link_to 'Contact Us', contact_path %></li>
	            </ul>
	        </li>
	    </ul>
	</li>
	
	
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">CONNECT</a>
	    <ul class="dropdown-menu span5">
	        <li class="column-menu span2 firstcolumn">
	 
	            <ul>
					<p>&nbsp; Ministries</p>
					 <% @ministries_menu.each do |ministries| %>
				    <li> <%= ministries_menu(ministries).html_safe %> </li>
				     <% end %>
	              
	            </ul>
	        </li>
			<li class="column-menu span3">
				            <ul>
								<p>Serving Together</p> 
				                <li><a href="#">Volunteer </a></li>
				                <li></li>
				                <li><i class="icon-calendar"></i> <%= link_to 'Calendar & Events', events_path %></li>
				            
								<li><a href="#">Item</a></li>
							 
				            </ul>
				        </li>
	    </ul>
	</li>
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">RESOURCES</a>
	    <ul class="dropdown-menu span4">
	        <li class="column-menu span2 firstcolumn">
	 
	            <ul>
					<p>&nbsp; Categories </p> 
					<li><%= link_to ' Become A Believer',  abouts_become_a_believer_path %></li>
				    <% if @about_menu.leaders_blog? %>
				    <li><a href="#">Leader's Blogs</a></li>
				    <% end %>
	                <li><%= link_to 'Sermons', sermons_path %></li>
				  
				    <% if @about_menu.video? %>
				    <li><%= link_to 'Video', videos_path %></li>
				    <% end %>
				    <% if @about_menu.articles? %>
				    <li><%= link_to 'Articles', articles_path %></li>
				    <% end %>
				    <% if @about_menu.store? %>
				    <li><a href="#">Store</a></li>
				    <% end %>
				 
	            </ul>
	        </li>
	        <li class="column-menu span2">
	            <ul>
					<p>&nbsp;   </p> 
				    <% if @about_menu.life_pulse? %>
				    <li><a href="#">Life Pulse</a></li>
				    <% end %>
	                 <li><%= link_to 'Bulletin', bulletins_path %></li>
	                <li><a href="#">Item</a></li>
	                <li><a href="#">Item</a></li>
	                <li><a href="#">Item</a></li>
	            </ul>
	        </li>
	    </ul>
	</li>
 
	<li>
		
    	<%= link_to 'GIVE',  abouts_giving_path %>
    </li>
 
	
   
 

	<% if user_signed_in? %>
	
	
                   <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome,  <%= current_user.name %> <b class="caret"></b></a>
                       <ul class="dropdown-menu">
                           <li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>   
						    <li>
						    <%= link_to edit_user_registration_path do %>
						  <i class="icon-cog"></i> Preferences 		 <% end %>
						    </li>
 					 

							  <li>
							    <%= link_to site_setups_site_setup_path do %>
							  <i class="icon-globe"></i> Site Setup		 <% end %>
							    </li>

 

                           <li class="divider"></li>
						    <li>
						    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
						    </li>
					
						
						
						  <% if current_user.has_role? :admin %>
						      <li>
						      <%= link_to 'Admin Page', users_path %>
						      </li>
						      <li>
						      <%= link_to 'Pending Approvals', users_path(:approved => "false") %>
						      </li>
						 <% end %>
						
						
							 
                       </ul>
 					 
                   </li>


				  <% else %>
				    <li>
				    <%= link_to 'LOGIN', new_user_session_path %>
				    </li>
				  <% end %>
           
     


 
 
 
    </ul>
</div>
</div>